{% extends 'dashboard/base.html' %}

{% block content %}

<canvas id="myChart"></canvas> 

<script>
    
    const ctx = document.getElementById('myChart');

    let selectedGenre = $('#genreSelect').val();

    var genre_counts_dict = {{ genre_counts_dict|safe }};
    var genre_counts = {{ genre_counts|safe }};
    var genres = {{ genres|safe }};
    var chosenValues = [];

    $('#genreSelect').on('change', function() {
        selectedGenre = $(this).val();
        chosenValues = selectedGenre.map(key => genre_counts_dict[key]);
        updateChart(); // Update selectedGenre with the new value
    });

    const chartOptions = {
        responsive: true,
        maintainAspectRatio: true,
        scales: {
            y: {
                beginAtZero: true
            }
        },
        plugins: {
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: '# of Games by Genre',
                font: {
                    size: 25,
                    weight: 'bold'
                }
            }
        }
    };

    const chartData = {
        labels: genres,
        datasets: [{
            label: '# of Games',
            data: genre_counts,
            borderWidth: 1
        }]
    };

    function updateChart() {
        chart.data.datasets[0].data = chosenValues;
        chart.data.labels = selectedGenre;
        chart.update(); // Update the chart with the new title
    }

    const chart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
        options: chartOptions
    });

</script>

{% endblock %}

{% block options %}
    <select id="genreSelect" class="selectpicker align-items-center" multiple data-selected-text-format="count > 2">

        {% for genre in genres %}
            <option value="{{ genre }}">{{ genre }}</option>
        {% endfor %}

    </select>


{% endblock options %}
